caption {
  font-size: 30px;
}
body {
  background: url(img/389-3894115_finance-numbers.png);
  background-repeat: no-repeat;
  font-size: 20px;
}
table {
  border: 3px solid black;
  border-color: darkblue;
  border-spacing: 2px;
}
td {
  border: 1px solid black;
  padding: 8px;
  border-radius: 2px;
}
td:hover {
  border: 1px solid black;
  padding: 5px;
  background-color: #AAFFAA;
  transition: 0.2s ease;
}
tr:nth-child(1){
  background-color: #00FA9A;
}
tr:nth-child(2){
  background-color: #00B2EE;
}
tr:nth-child(3){
  background-color: #1E90FF;
}
tr:nth-child(4){
  background-color: #1C86EE;
}
tr:nth-child(5){
  background-color: #1874CD;
}
tr:nth-child(6){
  background-color: #1874CD;
}
tr:nth-child(7){
  background-color: #1874CD;
}
tr:nth-child(8){
  background-color: #436EEE;
}
tr:nth-child(9){
  background-color: #3A5FCD;
}
tr:nth-child(10){
  background-color: #0000FF;
}
td:nth-child(1){
  background-color: #00FA9A;
}